[submodule "omerta_node"]
	path = omerta_node
	url = ../omerta_node
[submodule "omerta_mesh"]
	path = omerta_mesh
	url = ../omerta_mesh
[submodule "omerta_lang"]
	path = omerta_lang
	url = ../omerta_lang
[submodule "omerta_protocol"]
	path = omerta_protocol
	url = ../omerta_protocol
[submodule "omerta_infra"]
	path = omerta_infra
	url = ../omerta_infra
